.version.index /* version checker */
{
	color: #000011;
	background-color: #046181;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1400px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	width: 999px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -339px;
	left: -100px;
}

#u75_clip
{
	overflow: hidden;
	width: 999px;
	height: 749px;
}

#u75_img
{
	margin-top: 27px;
	margin-bottom: -27px;
}

#u88
{
	z-index: 4;
	min-height: 1390px;
	background-color: #DDDDDD;
}

#u88_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
	left: -100px;
	padding-top: 27px;
	padding-bottom: 28px;
}

#u198
{
	z-index: 5;
	width: 760px;
	background-color: transparent;
	left: 120px;
	position: relative;
}

#u241
{
	z-index: 7;
	width: 760px;
	background-color: transparent;
	left: 120px;
	margin-top: 34px;
	position: relative;
}

#u299
{
	z-index: 17;
	width: 760px;
	background-color: transparent;
	left: 120px;
	margin-top: 38px;
	position: relative;
}

#u198_clip,#u241_clip,#u299_clip
{
	overflow: hidden;
	width: 760px;
	height: 399px;
}

#u198_img,#u241_img,#u299_img
{
	margin-bottom: -76px;
}

#pu239-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 32px;
	position: relative;
}

#u239-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u240-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u88-bw
{
	z-index: 4;
	min-height: 1390px;
	margin-top: 147px;
}

#u301
{
	z-index: 19;
	width: 149px;
	height: 2px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1374px;
	left: 42px;
}

#u302-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1067px;
	left: 42px;
}

#u303-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1117px;
	left: 41px;
}

#u304-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1394px;
	left: 42px;
}

#u305-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1398px;
	left: 279px;
}

#u306-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1401px;
	left: 536px;
}

#u310
{
	z-index: 40;
	width: 149px;
	height: 2px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 938px;
	left: 41px;
}

#u311-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 630px;
	left: 41px;
}

#u312-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 680px;
	left: 40px;
}

#u313-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 957px;
	left: 41px;
}

#u314-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 961px;
	left: 278px;
}

#u315-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 964px;
	left: 535px;
}

#u165-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 20px;
}

#u166-4
{
	z-index: 65;
	position: relative;
	width: 86px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 447px;
}

#u166-4_img
{
	display: block;
	vertical-align: top;
}

#u167-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 560px;
}

#u168-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 671px;
}

#u190-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 156px;
}

#u317-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 377px;
	left: 156px;
}

#u318-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 270px;
}

body
{
	position: relative;
	min-width: 800px;
	padding-bottom: 70px;
}

#page .verticalspacer
{
	clear: both;
}

