.version.index /* version checker */
{
	color: #000000;
	background-color: #54D786;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 799.5500000000018px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu105
{
	width: 0.01px;
	margin-left: -100px;
}

#u105
{
	z-index: 5;
	width: 1480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u113-4
{
	z-index: 7;
	width: 110px;
	min-height: 52px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 881px;
}

#u113-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 110px;
	margin: 114px -10000px 0px 0px;
}

#u113-4.MuseLinkActive p
{
	font-size: 40px;
	font-family: lato, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u114-4
{
	z-index: 11;
	width: 127px;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 1048px;
}

#u115-4
{
	z-index: 15;
	width: 136px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 1224px;
}

#u104-4
{
	z-index: 61;
	width: 217px;
	min-height: 90px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 90px;
	font-size: 75px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 120px;
}

#u124-4
{
	z-index: 65;
	width: 217px;
	min-height: 76px;
	background-color: transparent;
	line-height: 60px;
	font-size: 50px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#ppu133
{
	width: 0.01px;
	margin-top: 21px;
}

#pu133
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u133
{
	z-index: 75;
	width: 253px;
	height: 253px;
	position: relative;
        border-radius: 50%;
}

#pu145
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 18px;
}

#u145
{
	z-index: 69;
	width: 229px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u141-4
{
	z-index: 71;
	width: 136px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 12px;
}

#u159-9
{
	z-index: 76;
	width: 217px;
	min-height: 123px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u159,#u159-3,#u159-5,#u159-6
{
	font-size: 20px;
	color: #000000;
	line-height: 24px;
}

#pppu171
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 281px;
}

#ppu171
{
	width: 0.01px;
}

#pu171
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 638px;
}

#u171
{
	z-index: 91;
	width: 361px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u173-4
{
	z-index: 93;
	width: 252px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 12px;
}

#u160
{
	z-index: 85;
	width: 610px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u162-4
{
	z-index: 87;
	width: 217px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 12px;
}

#pu75
{
	width: 0.01px;
	margin-top: 16px;
}

#u75
{
	z-index: 2;
	width: 679px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 46px;
}

#u77
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 731px;
}

#u176
{
	z-index: 19;
	width: 609px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u192
{
	z-index: 21;
	width: 610px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
}

#u178-4
{
	z-index: 23;
	width: 301px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 146px;
}

#u179-4
{
	z-index: 27;
	width: 348px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 123px;
}

#u180-4
{
	z-index: 31;
	width: 187px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 203px;
}

#u188-4
{
	z-index: 35;
	width: 301px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 439px;
	left: 146px;
}

#u189-4
{
	z-index: 39;
	width: 348px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 123px;
}

#u190-4
{
	z-index: 43;
	width: 187px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 561px;
	left: 203px;
}

#u175-19
{
	z-index: 97;
	width: 329px;
	min-height: 497px;
	background-color: transparent;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 650px;
}

#u141,#u173,#u162,#u175,#u175-3,#u175-8,#u175-10,#u175-12,#u175-14,#u175-16
{
	line-height: 36px;
}

#pu198
{
	width: 0.01px;
	margin-left: 281px;
	margin-top: 27px;
}

#u198
{
	z-index: 47;
	width: 609px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u176_clip,#u198_clip
{
	overflow: hidden;
	width: 609px;
	height: 325px;
}

#u176_img,#u198_img
{
	margin-bottom: -62px;
}

#u200-4
{
	z-index: 49;
	width: 301px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 146px;
}

#u178,#u188,#u200
{
	font-size: 50px;
	line-height: 60px;
}

#u201-4
{
	z-index: 53;
	width: 348px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 123px;
}

#u202-4
{
	z-index: 57;
	width: 187px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 203px;
}

#u141-2,#u159-2,#u159-4,#u159-7,#u173-2,#u162-2,#u178-2,#u179-2,#u180-2,#u188-2,#u189-2,#u190-2,#u175-2,#u175-4,#u175-9,#u175-11,#u175-13,#u175-15,#u175-17,#u200-2,#u201-2,#u202-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u179,#u180,#u189,#u190,#u201,#u202
{
	font-size: 20px;
	line-height: 24px;
}

#u96
{
	z-index: 4;
	height: 1318px;
	background-color: #DDDDDD;
}

#u96-bw
{
	z-index: 4;
	margin-top: -1220px;
	margin-bottom: -1220px;
	height: 1318px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

