<DOCTYPE html>

<html>
        <body>
                <h1> {{user}} </h1>

                <h3> Seminars: </h3>

                
                        {% if seminars %}
                                <ul>
                                {% for seminar in seminars %}
                                        <li> {{ seminar.title }} </li>
                                {% endfor %}
                                </ul>
                        {% else %}
                                <p> No seminars! </p>
                        {% endif %} 

                </body>
        </html>



