<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="composition.css">
		<link rel = "stylesheet" type ="text/css" href="C:\Users\owner\Documents\BitCamp\mimir\mimir\forum\static\forum\css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="caesura_logo">Caesura</div>
		<div id="mediabin">
		<a><span class="mediabutton">Photo</span></a>
		<a><span class="mediabutton">Video</span></a>
		<a><span class="mediabutton">Audio</span></a>
		</div>
		<form name="seminar">
		<textarea placeholder="What do you know about?"></textarea>
		<div id="guidelines"><h3>Community Guidelines</h3><p>Here are some guidelines to help you make
		the most out of Caesura:</p></div>
		<a><button id="submit">Submit</button></a>
		</form>


	</body>
</html>
