.version.home /* version checker */
{
	color: #000017;
	background-color: #B00383;
}

.html
{
	background-color: transparent;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1047px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	width: 1480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -100px;
}

#u189
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
	left: 1009px;
}

#u216
{
	z-index: 5;
	width: 178px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 934px;
	left: 577px;
}

#u209-4
{
	z-index: 18;
	width: 150px;
	min-height: 48px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #C93846;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#u217
{
	z-index: 6;
	width: 120px;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 836px;
	left: 606px;
}

#u218-4
{
	z-index: 7;
	width: 95px;
	min-height: 42px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #C93846;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 13px;
}

#u97-6
{
	z-index: 11;
	width: 1004px;
	min-height: 118px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 427px;
	left: 138px;
}

#u97-2
{
	font-size: 75px;
	line-height: 90px;
}

#u97-4
{
	font-size: 50px;
	line-height: 60px;
}

#u108
{
	z-index: 17;
	width: 674px;
	height: 2px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	left: 329px;
}
form{
	background-color:transparent;
}
p{
	background-color: transparent;
}
body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

