<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="composition.css">
		<link rel = "stylesheet" type ="text/css" href="C:\Users\owner\Documents\BitCamp\mimir\mimir\forum\static\forum\css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="caesura_logo">Caesura</div>
		<div id="mediabin">
		<a><span class="mediabutton"><img src="camera.svg"></span></a>
		<a><span class="mediabutton"><img src="video.svg"</span></a>
		<a><span class="mediabutton"><img src="audio.svg"</span></a>
		<a><span class="mediabutton" id="submit">Submit</span></a>
		</div>
		
		<form name="seminar">
		<div id="compositionbin">
		<textarea placeholder="What do you know about?"></textarea></div>
		<div id="guidelines"><h3>Community Guidelines</h3><p>New to markdown? Here's how to work with it:</p></div>

		</form>


	</body>
</html>
