<DOCTYPE html>
{% load django_markdown %}
<script src="jquery-1.11.2.min.js"></script>
<html>
        <body>
        <form action="/markdown/preview/" method="POST"><!--preview or submit -->
        {% csrf_token %}
      
       <!-- <form action="/mark" method="POST">--> 
			{{ form }}
			
			<button type="submit" name="save" formaction="/markdown/preview/" onclick="getInput()">Preview</button>
			<button type="submit" name="preview" formaction="/editor/">Save</button>
			<button type="submit" name="cancel" formaction="/forum/">Cancel</button>
			<input type="hidden" id="input" name="input" value=''>
		  <!--<input type="submit" value="preview" name="preview">-->

<script type="text/javascript">

document.getElementById('id_data').value  = '{{content}}'

</script>

        </body>
</html>


