<DOCTYPE html>
{% load django_markdown %}
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
		<link rel = "stylesheet" type ="text/css" href="/Users/brendan/Development/mimir/mimir/mimir/mimir/static/composition.css">

		<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	</head>
        <body>
        <div id="caesura_logo">Caesura</div>
		<div id="mediabin">
		<a><span class="mediabutton"><img src="camera.svg"></span></a>
		<a><span class="mediabutton"><img src="video.svg"</span></a>
		<a><span class="mediabutton"><img src="audio.svg"</span></a>
		<a><span class="mediabutton" id="submit">Submit</span></a>
		</div>
        <form action="/editor/save/" id="id_title" method="POST" name="seminar"><!--preview or submit -->
        {% csrf_token %}
      
			
		<div id="compositionbin">
		Title: <input type ="text" name="title">
        Contents: <input type="text" name="input">
		<div id="guidelines"><h3>Community Guidelines</h3><p>New to markdown? Here's how to work with it:</p></div>

			<button type="submit" name="preview" formaction="/markdown/preview/">Preview</button>
			<input type="submit" value="Save">
			<button type="submit" name="cancel" formaction="/forum/">Cancel</button>
			<!--input type="hidden" id="input" name="input" value=''-->
			<!--input type="hidden" id="title" name="title" value=''-->
        </form>

		  <!--<input type="submit" value="preview" name="preview">-->

<script type="text/javascript">

document.getElementById('id_data').value  = '{{content}}'
document.getElementById('id_Title').value  = '{{title}}'
</script>

        </body>
</html>



